workflow/AI Resume Screening Workflow.json
{
  "name": "AI Resume Screening Workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an ATS and HR screening system.\n\nAnalyze the resume below.\n\nReturn ONLY valid JSON.\n\n{\n  \"candidate_name\": \"\",\n  \"score\": \"\",\n  \"skills\": [],\n  \"recommended_role\": \"\",\n  \"summary\": \"\"\n}\n\nRules:\n- Return JSON only\n- No markdown\n- No explanations\n- No code fences\n- No text before or after the JSON\n\nResume:\n\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        496,
        336
      ],
      "id": "9ebca3f0-c2d6-4e6f-999f-ce5d3efea6f4",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        560
      ],
      "id": "0269f194-b4a8-428e-8f76-512d6b57bfe6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PxCrtHk51BwztlaX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ph88MTnBInFCl6HkHzdV74p_711NMUlDlwobqdFyi7s",
          "mode": "list",
          "cachedResultName": "AI Resume Screening Demo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ph88MTnBInFCl6HkHzdV74p_711NMUlDlwobqdFyi7s/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ph88MTnBInFCl6HkHzdV74p_711NMUlDlwobqdFyi7s/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Candidate_Name": "={{ $json.candidate_name }}",
            "Score ": "={{ $json.score }}",
            "Skills": "={{ $json.skills.join(\", \") }}",
            "Recommended_Role": "={{ $json.recommended_role }}",
            "Summary": "={{ $json.summary }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Candidate_Name",
              "displayName": "Candidate_Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Score ",
              "displayName": "Score ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommended_Role",
              "displayName": "Recommended_Role",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1056,
        176
      ],
      "id": "efc90e67-e196-4f99-bd7a-bf7528b13420",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1NmdFH968aSwp0Zm",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "Upload_Resume",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        48,
        336
      ],
      "id": "7c0a5367-9aa9-4f04-ad89-860641b0e34b",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "formTitle": "AI Resume Screening",
        "formDescription": "Upload your resume PDF for AI analysis.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload Resume",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            },
            {
              "fieldLabel": "Candidate Email",
              "fieldType": "email"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        48,
        0
      ],
      "id": "5c111e22-ef1f-4c91-9ca0-1af798443b31",
      "name": "On form submission",
      "webhookId": "caaaf467-e895-4e87-b38e-7534f0c77ab2"
    },
    {
      "parameters": {
        "sendTo": "={{ $node[\"On form submission\"].json[\"Candidate Email\"] }}",
        "subject": "Your Resume Screening Report",
        "message": "=<h2>Resume Screening Report</h2>\n\n<p>Hello {{ $json.candidate_name }},</p>\n\n<p>Thank you for submitting your resume. We have completed an initial screening of your profile.</p>\n\n<hr>\n\n<h3>Candidate Summary</h3>\n\n<p><strong>Name:</strong> {{ $json.candidate_name }}</p>\n\n<p><strong>Overall Score:</strong> {{ $json.score }}/100</p>\n\n<p><strong>Recommended Role:</strong> {{ $json.recommended_role }}</p>\n\n<p><strong>Skills Identified:</strong></p>\n\n<ul>\n<li>{{ $json.skills[0] }}</li>\n<li>{{ $json.skills[1] }}</li>\n<li>{{ $json.skills[2] }}</li>\n<li>{{ $json.skills[3] }}</li>\n<li>{{ $json.skills[4] }}</li>\n</ul>\n\n<p><strong>Professional Summary:</strong></p>\n\n<p>{{ $json.summary }}</p>\n\n<hr>\n\n<p><em>This assessment is AI-generated and intended for preliminary screening purposes only.</em></p>\n\n<p>\nBest Regards,<br>\nAI Recruitment Assistant\n</p>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1088,
        400
      ],
      "id": "66cdfd41-c9f7-4cb5-84be-e8797ece3b48",
      "name": "Send a message",
      "webhookId": "6d673d95-f59c-45a7-95e7-145b22d0b1af",
      "credentials": {
        "gmailOAuth2": {
          "id": "JdwI1IPGaNDiMquH",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = JSON.parse($json.text);\n\nreturn [{\n  json: data\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        848,
        336
      ],
      "id": "935a90c0-cef7-42ce-999c-43ce8bc1c038",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ebafb014-2967-4fbe-b836-1f8d4c600861",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "42a63ec638b4c5852a90f6d631375659949a654660fccabb265195d54543950e"
  },
  "nodeGroups": [],
  "id": "LZZBZnCiNgIbQIWc",
  "tags": []
}
